.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  font-size: 18px;
  width: 250px;
  height: 200px;
  border: 4px solid #748ffc;
  border-radius: 8px;
}

.header {
  border-bottom: 4px solid #748ffc;
  align-self: stretch;
  margin-bottom: 12px;
}

.header__title {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
}

.status {
  padding: 5px;
  font-weight: bold;
  border-radius: 8px;
}

.status--pending {
  background-color: #91a7ff;
}

.status--executed {
  background-color: #63e6be;
}
