<div class="container">
  <h3 class="header">Combine latest</h3>
  <div class="buttons">
    <button mat-flat-button color="primary" (click)="add(1)">
      First Product
    </button>
    <button mat-flat-button color="primary" (click)="add(2)">
      Second Product
    </button>
    <button mat-flat-button color="primary" (click)="add(3)">
      Third Product
    </button>
  </div>

  <div class="content">
    <p>Pending Results</p>
    <app-block-list
      [horizontal]="false"
      [blocks]="pendingResults"
    ></app-block-list>

    <p>Executed products</p>
    <ng-container *ngFor="let blocks of results">
      <app-block-list [horizontal]="false" [blocks]="blocks"></app-block-list>
    </ng-container>
  </div>
</div>
