<mat-toolbar class="header" color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Rxjs Operators Lab</span>

  <button mat-button [matMenuTriggerFor]="combinationMenu">Combination</button>
  <mat-menu #combinationMenu="matMenu" xPosition="after">
    <ng-container *ngFor="let item of combinations">
      <button mat-menu-item [routerLink]="item?.link">{{ item?.name }}</button>
    </ng-container>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="transformationMenu">
    Transformation
  </button>
   <mat-menu #transformationMenu="matMenu" xPosition="after">
    <ng-container *ngFor="let item of transformations">
      <button mat-menu-item [routerLink]="item?.link">{{ item?.name }}</button>
    </ng-container>
  </mat-menu>
</mat-toolbar>
