<mat-toolbar class="header" color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Rxjs Operators Lab</span>

  <button mat-button [matMenuTriggerFor]="afterMenu">Combination</button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button mat-menu-item [routerLink]="'/operators/concat'">Concat</button>
    <button mat-menu-item [routerLink]="'/operators/combine-latest'">
      Combine latest
    </button>
    <button mat-menu-item [routerLink]="'/operators/fork-join'">
      Fork join
    </button>
  </mat-menu>
</mat-toolbar>
