<!-- <button (click)="dispatchOrder()">Add flat bread</button>
<hr />
<button (click)="_flatBread.next('flat bread')">Add flat bread</button>
<button (click)="_meat.next('meat')">Add meat</button>
<button (click)="_sauce.next('sauce')">Add sauce</button>
<button (click)="_tomato.next('tomato')">Add tomato</button>
<button (click)="_cabbage.next('cabbage')">Add cabbage</button> -->

<button [routerLink]="'concat'">Concat</button>

<!-- <ng-container *ngIf="delivery$ | async as product">
  <h2>{{ product | json }}</h2>
</ng-container> -->

<router-outlet></router-outlet>
