.block-list {
  display: flex;
  gap: 10px;
}

.block-list--horizontal {
  flex-direction: column;
}

.block-list--vertical {
  flex-direction: row;
}

.block-list__title {
  font-size: 18px;
  font-weight: bold;
}
